
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaecec;
}

.logo{
    background-color: #222f3e;
    padding: 10px 30px;

}
header img{
    height: 40px;
}
.tasti{
    background-color: #364759 ;
    padding: 10px 30px;
    color: white;
}

.tasti span {
    margin-right: 17px ;
}

main{
    padding: 35px;
}


.rett-arancio{
    background-color: #f56600;
    color: white;
    text-align: center;
    padding: 8px;
    margin-bottom: 30px;
}

.foto-regalo{
    width: 100%;
    height: 100px;
    background-image: url(assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#holiday{
    margin-bottom: 0px;
}

.shop-now{
    background-color: white;
    margin-top: 30px;
    padding: 15px 10px 0 10px;
}

.imgs{
    height: 350px;
    width: 300px;
    object-fit: cover;
    margin: 18px;
    border-radius: 20px;
    box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2)
}

.cont-immagini{
    text-align: center;
    background-color: white;
    
}
#titolo{
    font-size: 21px;
    margin-right: 15px;
}

#sottotitolo{
    font-weight: 600;
    color: #007185;
}

.cont-shop{
    background-color: #eaecec;
    margin-top: 30px;
    padding: 15px 0;
}

.negozi{
    background-color: white;
    width: 23%;
    display: inline-block;
}

.titoli{
    text-align: left;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 700;
}

.row {
    text-align: center;
}

.riquadri {
    display: inline-block;
    vertical-align: top;
    width: 45%;        
    box-sizing: border-box;
    text-align: center;
}

.riquadri img {
    width: 100%;
    height: auto;
}




